# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.o
*.d
*.htm
*.crf
*.lst
*.map
*.Bak
*.sct
BLE/BLE_VOLMEAS_SDK11.0/project/s130/_build/nrf51822_xxac_s130.lnp
*.dep
*.iex
*.axf
*.bin
*.hex
*.ini
*.txt
*.exe
*.uvoptx
BLE/BLE_VOLMEAS_SDK11.0/project/s130/ble_app_volmeas_s130.uvprojx
BLE/BLE_VOLMEAS_SDK11.0/project/s130/ble_app_volmeas_s130.uvguix.Administrator
*.lib
*.a
*.ld
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf52_iar/armgcc/Makefile
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf52_keil/armgcc/Makefile
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf52_armgcc/armgcc/Makefile
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf51_keil/armgcc/Makefile
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf51_armgcc/armgcc/Makefile
BLE/BLE_VOLMEAS_SDK11.0/external/micro-ecc/nrf51_iar/armgcc/Makefile
*.posix
*.icf
*.s
*.windows
*.common
*.pdf
*.def
